

/* bg - #151D3B #D82148 #6EBF8B #DADBBD --color pallete*/

/* body{
  background-color:#151D3B;
  color:#DADBBD ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height:100%;
  width: 100%;
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin-left: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
 display: grid;
 grid-template-rows: 0.1fr 1fr;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #DADBBD;
  background-color: #6EBF8B;
  font-weight: bold;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 30px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #D82148;
  color: #DADBBD;
  transition: 300ms;
}

.user-wrapper {
  background-color: #D82148;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.main-container {
  width: 80vw;
}

.button-container {
  width: 100%;
}

.userdata-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userdata-container button {
  background-color: #151D3B;
  margin-bottom: 0;
}

.userdata-container button:hover {
  background-color: #6EBF8B;
}

.user-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1rem;
}

.stats-wrapper {
  background-color: #6EBF8B;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.5rem;
}

.stats-container {
  background-color: #6EBF8B;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin:0;
  padding:0;
}

.stats-detail {
  display: grid;
  background-color: #DADBBD;
  color: #151D3B;
  padding:1rem;
  border-radius: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.modal {
  
  background-color:#151D3B;
  color:#DADBBD ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height:50vh;
  width: 75vw;
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50% , -50%);
  border-radius: 1rem;
}


.modal-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: grid;
  grid-template-rows: 5fr 1fr;
}

.modal-container button {
  background-color: #D82148;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 0.5rem;
  background-color: #6EBF8B;
  font-weight: bold;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 1rem;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container p {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 1rem;
}

.image-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.image-container img {
  height: 30px;
  width: 30px;
  padding-right: 1rem;
  cursor: pointer;
} */



/************* Style V1 **********************/

/* bg - #151D3B red - #D82148 green - #6EBF8B white - #DADBBD --color pallete*/

body {
  background-color: #151D3B;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:whitesmoke;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

button {
  background-color: #6EBF8B;
  font-weight: bold;
  width: 100px;
  color: #151D3B;
  border: none;
  outline: none;
  cursor: pointer;
  height: 30px;
  border-radius: 1rem;
}

button:hover {
  background-color: #D82148;
  color: whitesmoke;
  transition: 0.3s;
}

.userdata-container {
  min-width: 300px;
  background-color: #D82148;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 1rem;
}

.user-wrapper {
  background-color: #D82148;
  font-weight: bold;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 1rem;
}

.user-wrapper button {
  margin-left: 1rem;
}

.user-wrapper button:hover {
  background-color: #151D3B;
}


.amount-display {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.container {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
}

.modal {
  background-color:#151D3B;
  color:whitesmoke ;
  font-weight: bold;
  height:50vh;
  width: 75vw;
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50% , -50%);
  border-radius: 1rem;
}

.modal-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: grid;
  grid-template-rows: 5fr 1fr;
}

.modal-container button {
  background-color: #D82148;
  color: whitesmoke;
}

.modal-container button:hover{
  background-color: #6EBF8B;
  color: #151D3B;
}


input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 0.5rem;
  background-color: #6EBF8B;
  font-weight: bold;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 1rem;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container p {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 1rem;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: absolute;
  top:1rem;
  width: 100%;
  display: flex;
  margin-right: 1rem;
}

.image-container img {
  position: absolute;
  right: 1rem;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

